*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap {
    margin-bottom: 30px;
}
.after {
    margin-top: 30px;
}
.images {
    position: relative;
    height: 290px;
    margin: auto;
    display: block;
}

.bio {
position: absolute;
width: 200px;
height: 200px;
top: -40px;
right: 675px;
z-index: -1;
}
.people {
position: absolute;
width: 200px;
height: 223px;
top: -50px;
right: 457px;
z-index: -1;
}
.smok {
position: absolute;
width: 256px;
height: 256px;
right: 550px;
}
.yin {
position: absolute;
bottom: -40px;
right: 568px;
width: 200px;
height: 200px;
border: solid transparent 1px;
z-index: -1;
}
.bio:hover .smok {
    z-index: 3;
}
