*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap {
    margin-bottom: 30px;
}
.after {
    margin-top: 30px;
}
.images {
    position: relative;
    width: 400px;
    height: 290px;
    margin: auto;
    display: flex;
    align-items: center;
}

.bio {
position: absolute;
width: 200px;
height: 200px;
top: -40px;
right: 265px;
}
.people {
position: absolute;
width: 200px;
height: 223px;
right: 55px;
top: -50px;
}
.smok {
position: absolute;
width: 256px;
height: 256px;
z-index: 1;
}
.yin {
position: absolute;
bottom: -55px;
right: 170px;
width: 200px;
height: 200px;
border: solid transparent 1px;
}
.yin:hover .smok {
    z-index: 3;
}
