.container {
    width: 1280;
    margin: 0 auto; 
}
.left {
    float: left;
    background-color: #eaedef;
    height: 30px;
}
.metka {
    float: left;
}
.left a:first-of-type {
    font-family: Roboto;
    font-weight: 300;
    font-size: 10px;
    letter-spacing: 0.01em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: center;
    color: #000;
}
.left a:last-child {
    font-family: Roboto;
    font-weight: 700;
    font-size: 10px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: center;
    color: #000;
    padding-left: 25px;
}
.right {
    float: right;
    background-color: #eaedef;
    height: 30px;
}
.right ul {
    float: right;
    margin-top: 0;
    font-family: Roboto;
    font-weight: 700;
    font-size: 10px;
    text-align: center;
    color: #000;
    margin-left: 15px;
    margin-right: 15px;
}
.right li {
    display: inline-block;
    padding-left: 25px;
}
.wrap.clearfix {
    content: "";
    display: block;
    clear: both; 
    background-color: #eaedef;
    height: 30px;
    width: 1280px;
}
.header.clearfix {
    height: 37px;
    background: #fff;
    margin-top: 5px;
    padding-top: 10px;
}
.logoleft {
    float: left;
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: -30px;
}
.logo {
    width: 197px;
    height: 36px;
    padding-right: 20px;
}
.catalog {
    border-radius: 4px;
    width: 196px;
    height: 37px;
    background: #ba257d;
    border: none;
    font-family: Roboto;
    font-weight: 700;
    font-size: 11px;
    color: #fff;
    padding-right: 20px;
}
.search {
    position: relative;
    padding-left: 20px;
}
.najti {
    border: 1px solid #ba257d;
    border-radius: 4px;
    width: 522px;
    height: 37px;
    background: #fff;
}

.logoleft li {
    display: inline-block;
}
.logoleft ul {
    display: inline-flex;
    padding-left: 0px;
    margin-top: -15px;
    justify-content: flex-start;
    text-align: center;
}
.logoleft figure {
    text-align: center;
    margin-left: 45px;
    margin-right: 15px;
}
.logoleft figcaption {
    font-family: Roboto;
    font-weight: 300;
    font-size: 10px;
    text-align: center;
    color: #333;
}
.logoleft img:not-first-of-type {
    width: 18px;
    height: 18px;
}
.container .linemenu {
    clear: both;
}
.linemenu a {
    padding-right: 15px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 12px;
    color: #333;
    text-decoration: none;
}
.banner.clearfix {
    display: inline-block;
    height: 434 px;
    background: #fff;
}
.slide {
    float: left;
    margin-right: 10px;
}
.slide img {
    border-radius: 4px;
    width: 950px;
    height: 434px;
}
.rightslide {
    float: right;
    border: 1px solid rgba(51, 51, 51, 0.15);
    border-radius: 4px;
    width: 300px;
    height: 434px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.banner .clearfix::after {
    content: ""; 
    display: block; 
    clear: both;
}
.skidka {
    position: absolute;
    border-radius: 32px;
    width: 64px;
    height: 64px;
    background: #ba257d;
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    color: #faed38;
    text-align: center;
}
.rightslide button {
    border-radius: 4px;
    width: 108px;
    height: 26px;
    background: #ba257d;
    font-family: Roboto;
    font-weight: 900;
    font-size: 10px;
    line-height: 140%;
    color: #fff;
    border: none;
}

