@media all and (max-width: 1000px) {
    .content {
        flex-direction: column;
        justify-content: center;
        padding-left: 20px;
    }
    .one {
        align-self: center;
        margin-top: 10px;
        margin-bottom: 10px;
        order: 5;
        background-color: bisque;
    }
    .two {
        align-self: center;
        margin-top: 10px;
        margin-bottom: 10px;
        order: 4;
        background-color: greenyellow;
    }
    .three {
        align-self: center;
        margin-bottom: 10px;
        margin-top: 10px;
        order: 2;
    }
    .four {
        align-self: center;
        margin-top: 10px;
        order: 1;
        background-color: blue;
    }
    .five {
        align-self: center;
        margin-top: 10px;
        margin-bottom: 10px;
        order: 3;
        background-color: blueviolet;
    }
    .item {
        background-color: blue;
    }
    .imenu {
        background-color: blue;
    }
}