*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1200px;
    margin: 0 auto;
    
}
.header .container{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}
.logo {
    width: 183px;
    height: 62px; 
}
.verhMenu {
    display: flex;
    width: 432px;
    height: 16px;
    justify-content: space-between;
    margin-top: 25px;
}
.container li {
    display: inline-flex;
    align-items: center;
}
.tel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.zvon {
    width: 18px;
    height: 18px;
}
.mova {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #302929;
}

.vojti {
    background-color: #FFA800;
    color: #FFFFFF;
    width: 140px;
    height: 35px;
    border-radius: 32px;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    border: none;
    margin-top: 10px;
    padding-left: 3px;
}
.vhod {
    margin-right: 15px;
}
.mainpicture .container {
    background-color: #B0CC0D;
    height: 450px;
    border-radius: 55px;
    margin-top: 30px;
    display: flex;
    position: relative;
    padding-left: 60px;
    padding-top: 45px;
    flex-direction: column;
}
.slogan {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 65px;
    line-height: 100%;
    text-transform: uppercase;  
}
 .diet {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 25px;
    line-height: 236%;
    color: #000;
}
.choise {
    border-radius: 32px;
    padding: 18px 27px;
    width: 202px;
    height: 55px;
    background: #ffa800;
    border: none;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #fff;
}
.buter{
    position: absolute;
    width: 750px;
    right: -10px;
    bottom: -80px;
}
.goroh {
    position: absolute;
    width: 244px;
    transform: rotate(-10deg);
    right: -65px;
    bottom: -100px;
}
.zel1 {
    position: absolute;
    width: 225px;
    transform: rotate(10deg);
    bottom: -110px;
    left: -80px;
}
.zel2 {
    position: absolute;  
    width: 293px;
    transform: rotate(-3deg);
    top: -100px;
    right: 460px;
}
.zel3 {
    position: absolute; 
    width: 131px;
    transform: rotate(-5deg); 
    bottom: -60px;
    left: 530px;
}
.vybor .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 50px;
}
.MENU {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    text-transform: uppercase;
    color: #000;
}
.vkusy{
    height: 47px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}
.vkusy li{
    display: inline-flex;
}
.vkusy button {
    border-radius: 10px;
    padding: 6px 26px;
    height: 47px;
    background: #d9d9d9;
    border: none;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: #6a6a6a;
    line-height: 80%;
}
.vkusy button:hover {
    background: #b0cc0d;
    color: #fff;
    text-decoration: underline;
}
.vkusy span {
    font-weight: 400;
    font-size: 12px;
}
.slider .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 50px;
    position: relative;
    background: #8ec038;
}
.slider {
    background: #8ec038; 
    border-radius: 20px;
    height: 700px;
}
.week {
    width: 888px;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
}
.week button {
    border-radius: 12px;
    padding: 14px 38px;
    max-width: 136px;
    height: 47px;
    background: rgba(255, 255, 255, 0.5);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #302929;
    border: none;
    padding-right: 15px;
    padding-left: 15px;
}
.week button:hover {
    background: #fff;
}
.arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arrow span {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
}
.thisweek {
    position: absolute;
    width: 90px;
    height: 16px;
    background: #ffa800;
    border-radius: 5px;
    color: #fff;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    padding-bottom: 20px;
    right: 135px;
    top: 100px;
}
.slidezel {
    position: absolute;
    width: 225px;
    right: 0px;
    top: -80px;
    transform: rotate(110deg);
}
.lunch {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding-left: 55px;
    padding-right: 55px;
    margin-top: 25px;
}
.dish {
    width: 218px;
    height: 347px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: #fff;
    border-radius: 28px;
    position: relative;
}
.jk {
    width: 211px;
    height: 162px;
    padding: 0px;
}
.dish span {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
    color: #b0cc0d;
    padding-left: 15px;
    position: absolute;
    top: 155px;
}
.namedish {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #000;
    padding-left: 15px;
    position: absolute;
    top: 200px;
}
.energy {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 12px;
    line-height: 180%;
    color: #272424;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    line-height: 130%;
    position: absolute;
    top: 240px;
}
.one {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background: #ffa800;
    position: absolute;
    text-align: center;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 24px;
    line-height: 120%;
    text-transform: uppercase;
    color: #fff;
    padding-top: 10px;
    left: 225px;
    top: -10px;
}
.two {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background: #ffa800;
    position: absolute;
    text-align: center;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 24px;
    line-height: 120%;
    text-transform: uppercase;
    color: #fff;
    padding-top: 10px;
    left: 455px;
    top: -10px;
}
.three {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background: #ffa800;
    position: absolute;
    text-align: center;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 24px;
    line-height: 120%;
    text-transform: uppercase;
    color: #fff;
    padding-top: 10px;
    top: -10px;
    left: 690px;
}
.four {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background: #ffa800;
    position: absolute;
    text-align: center;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 24px;
    line-height: 120%;
    text-transform: uppercase;
    color: #fff;
    padding-top: 10px;
    top: -10px;
    right: 270px;
}
.five {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background: #ffa800;
    position: absolute;
    text-align: center;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 24px;
    line-height: 120%;
    text-transform: uppercase;
    color: #fff;
    padding-top: 10px;
    top: -10px;
    right: 35px;
}
.slft{
    position: absolute;
    width: 70px;
    height: 70px;
    top: 145px;
    left: 2px;
    background: #fff;
    border-radius: 100%;
    text-align: center;
    padding-top: 4px;
}
.srgt {
    position: absolute;
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 100%;
    text-align: center;
    padding-top: 4px;
    top: 145px;
    right: 2px;
}
.polza {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #fff;
    margin: 10px auto;
    width: 1122px;
    text-align: justify;
}
.order {
    width: 1122px;
    height: 80px;
    position: relative;
    border-radius: 15px;
    background: #fff;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    text-align: center;
}
.zelord {
    position: absolute;
    width: 131px;
    transform: rotate(-70deg);
    left: 600px;
    bottom: -155px;
}
.from56 {
    border-radius: 10px;
    width: 207px;
    height: 60px;
    background: #ffa800;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fff;
    border: none;
    align-self: center;

}
.ordernow {
    border-radius: 32px;
    padding: 18px 27px;
    width: 241px;
    height: 55px;
    background: #ffa800;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #fff;
    border: none;
    align-self: center;
}
.order span {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #000;
}