@media all and (max-width:800px){
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 320px;
    margin: 0 auto;
}
.main {
    position: relative;
    height: 550px;
}
.main p {
    display: none;
}
.main span:first-of-type {
    display: none;
}
.main span:nth-of-type(2) {
    display: none;
}
.uldiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
}
.uldiv ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 0px;
}
.line li {
    padding-right: 0px;
    padding-bottom: 5px;
}
.logo {
    width: 165px;
    height: 36px;
}
.pin {
   display: none;
}
.main ul li:nth-of-type(2){
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.01em;
    color: #000;
    padding-left: 0px;
    text-align: center;
}
.phone {
    display: none;
}
.main ul li:nth-of-type(3){
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #000;
    }
.main ul li button:first-of-type {
    display: none;
}
.haslo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 0px;
    padding-left: 0px;
    margin-top: -70px;
    position: relative;
    padding-top: 43px;
}
.haslo h3:first-of-type {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #000;
    padding-bottom: 5px;
}
.haslo h1 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 28px;
    line-height: 136%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #000;
    padding-bottom: 5px;
}
.haslo h3:last-of-type {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #dc051f;
    padding-bottom: 205px;
}
.btn.btn-primary {
    border-radius: 10px;
    width: 258px;
    height: 36px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #dc051f;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 20px;
    line-height: 175%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #fff;
    margin-top: -35px;
}
.carousel.slide {
    position: absolute;
    width: 196px;
    height: 196px;
    right: 60px;
    top: 166px;
}
.carousel-inner {
    width: 196px;
    height: 196px;
    border-radius: 100%;
    background: url(../images/backimg.png) repeat;
}
.sad{
    display: none;
}
.lucky {
    display: none;
}
.whatit {
    background: #ffe9b7;
    height: 684px;
    padding-left: 0px;
    position: relative;
    text-align: center;
    margin-top: 0px;
    width: 320px;
    
}
.whatit h3 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #000;
    padding-bottom: 5px;
    padding-top: 10px;
}
.whatit h4 {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 12px;
    line-height: 167%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #000;
    padding-bottom: 5px;
    padding-top: 15px;
    }
    .whatit p {
        text-align: center;
    }
.dela {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    line-height: 167%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #000;
}
.cat {
    position: absolute;
    width: 139px;
    height: 174px;
    left: 0px;
    bottom: -70px;
}
.speech {
    position: absolute;
    left: 145px;
    bottom: 35px;
    width: 116px;
    height: 88px;
}
.words {
    position: absolute;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 10px;
    line-height: 167%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #000;
    left: 159px;
    bottom: 60px;
    }
    .describe {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 25% 25% 25%;
        width: 320px;
        height: 320px;
        align-items: center;
        justify-items: center;
        text-align: center;
        position: relative;
        right: auto;
        margin-top: 90px;
    }
    .describe img {
        margin-top: 8px;
        width: 50px;
    }
    .descr {
        text-align: center;
        background: url(../images/backround.svg) no-repeat top center;
        border-radius: 100%;
        width: 70px;
        height: 70px;
    }
    .divpod {
        /* margin-top: -90px; */
    }
    .whatit .describe .pod {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 16px;
        line-height: 250%;
        letter-spacing: -0.01em;
        text-align: center;
        color: #000;
    }
    .whatit .describe .poddva {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 10px;
        line-height: 150%;
        letter-spacing: -0.01em;
        text-align: center;
        color: #000;
    }
    .promo {
        padding-left: 175px;
        position: relative;
    }
    .promo h3 {
        font-family: Montserrat;
        font-weight: 600;
        font-size: 36px;
        line-height: 97%;
        letter-spacing: -0.01em;
        color: #000;
        height: 35px;
        padding-top: 71px;
        text-align: start;
        padding-bottom: 56px;
    }
    .promo button {
        position: absolute;
        width: 234px;
        height: 40px;
        font-family: Montserrat;
        font-weight: 600;
        font-size: 16px;
        line-height: 219%;
        letter-spacing: -0.01em;
        text-align: center;
        color: #000;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        border: none;
        background-color: #fff;
        left: 285px;
        top: 390px;
    }
    .promoimg {
        width: 1038px;
        height: 630px;
        display: grid;
        align-items: center;
        justify-items: start;
        grid-template-columns: 370px 375px 1fr;
        grid-template-rows: 50% 50%;
        grid-column-gap: 7px;
        grid-row-gap: 7px;
    }
    .banty {
        width: 366px;
        height: 298px;
    }
    .lepka {
        width: 371px;
        height: 298px;
    }
    .camer {
        width: 268px;
        height: 317px;
    }
    .sound {
        width: 254px;
        height: 318px;
    }
    .mamki {
        width: 767px;
        height: 317px;
    }
    .camerimg {
        grid-column: 3/4;
        padding-top: 19px;
    }
   .soundimg {
    grid-row: 2;
    grid-column: 1/4;
   }
   .visit {
    height: 680px;
    padding-left: 175px;
    position: relative;
   }
   .visit h3 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 36px;
    line-height: 153%;
    letter-spacing: -0.01em;
    color: #000;
    height: 35px;
    padding-top: 71px;
    text-align: start;
    padding-bottom: 120px;
   }
   .visitflex {
    display: flex;
    justify-content: space-between;
    width: 1038px;
   }
   .opisan {
    width: 1038px;
    display: flex;
    justify-items: left;
    flex-direction: column;
   }
   .opisan img {
    float: left;
    padding-right: 20px;
   }
   .opisan span {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 20px;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: #000;
   }
   .opisan p {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 179%;
    letter-spacing: -0.01em;
    color: #000;
    padding-left: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    }
   .meethero {
    height: 671px;
    position: relative;
    background: url(../images/backimg.png) left top repeat;
    padding-left: 175px;
   }
   .pervy {
    position: absolute;
    right: -0px;
    top: -53px;
    cursor: pointer;
   }
   .vtoro {
    position: absolute;
    top: -53px;
    right: 162px;
    z-index: -1;
    opacity: 0;
   }
   .pervy:hover +.vtoro {
    z-index: 1;
    opacity: 1;
    transition-duration: 1s;
    transform: rotate(360deg);
   }
   .meethero h3 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 36px;
    line-height: 97%;
    letter-spacing: -0.01em;
    color: #000;
    height: 35px;
    padding-top: 71px;
    text-align: start;
    padding-bottom: 56px;
}
.meethero p {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: -0.01em;
    color: #000;
    padding-bottom: 40px;
}
.signup {
    position: absolute;
    text-align: center;
    right: 245px;
    bottom: 135px;
}
.signup span {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    line-height: 167%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #000;
}
.signup button {
    border-radius: 10px;
    width: 273px;
    height: 58px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #dc051f;
    border: none;
    color: #fff;
    margin-top: 10px;
}
.demonstra {
    position: relative;
    padding-left: 175px;
    height: 532px;
}
.demonstra h3 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 36px;
    line-height: 97%;
    letter-spacing: -0.01em;
    color: #000;
    height: 35px;
    padding-top: 71px;
    text-align: start;
    padding-bottom: 56px;
}
.mult {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    width: 1035px;
    align-items: center;
    justify-items: start;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.one {
    grid-column: 1/3;
    grid-row: 1/3;
}
.two {
    grid-column: 3;
    grid-row: 1;
}
.three {
    grid-column: 4;
    grid-row: 1;
}
.four {
    grid-column: 3;
    grid-row: 2;
}
.five {
    grid-column: 4;
    grid-row: 2;
}
.else {
    position: relative;
    padding-left: 175px;
}
.else h3 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 36px;
    line-height: 97%;
    letter-spacing: -0.01em;
    color: #000;
    height: 35px;
    text-align: start;
    padding-bottom: 75px;
}
.elsepromo {
    display: flex;
    justify-content: space-between;
    width: 1035px;
    position: relative;
    text-align: justify end;
}
.elseone {
    position: absolute;
    width: 308px;
    height: 390px;
    background: url(../images/elsefoto.png) no-repeat;
    padding-top: 220px;
    z-index: 1;
}
.elsetwo {
    position: absolute;
    width: 308px;
    height: 390px;
    background: url(../images/elsefoto.png) no-repeat;
    left: 363px;
    padding-top: 220px;
    z-index: 1;
}
.elsethree {
    position: absolute;
    width: 308px;
    height: 390px;
    background: url(../images/elsefoto.png) no-repeat;
    padding-top: 220px;
    right: 0px;
    z-index: 1;
}
.elsepromo span {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
    line-height: 139%;
    letter-spacing: -0.01em;
    color: #000;
    padding-left: 30px;
}
.elsepromo p {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: -0.01em;
    color: #000;
    padding-left: 30px;
    padding-top: 15px;
}
.gray {
    position: relative;
    height: 283px;
}
.grayback {
    height: 283px;
    background: url(../images/grayback.png) left top repeat;
    margin-top: 290px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    padding-left: 175px;
    padding-top: 57px;
}
.grayback span {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
    line-height: 146%;
    letter-spacing: -0.01em;
    color: #000;
    padding-top: 120px;
}
.grayback p {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    line-height: 194%;
    letter-spacing: -0.01em;
    color: #000;
    padding-bottom: 38px;
}
.grayback button {
    border-radius: 10px;
    width: 375px;
    height: 62px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #dc051f;
    border: none;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
    line-height: 146%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #fff;
    position: absolute;
    right: 220px;
    bottom: 50px;
}
.ufoo {
    position: absolute;
    z-index: 1;
    right: 521px;
    bottom: 113px;
}
.ufot {
    position: absolute;
    z-index: 1;
    bottom: 113px;
    right: 55px;
}
.review {
    width: 1035px;
    height: 675px;
    background: url(../images/wheel.png) no-repeat bottom center;
    margin: 0 auto;
    position: relative;
    padding-top: 90px;
}
.telega {
    background: url(../images/telega.png) no-repeat; 
    width: 122px;
    height: 159px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.baloon {
    background: url(../images/baloon.png) no-repeat;
    width: 212px;
    height: 312px;
    position: absolute;
    bottom: 40px;
    left: 0px;
}
.review h3 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 36px;
    line-height: 97%;
    letter-spacing: -0.01em;
    color: #000;
    height: 35px;
    text-align: start;
    padding-bottom: 75px;
}
.revone {
    width: 352px;
    height: 270px;
    position: absolute;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 157%;
    letter-spacing: -0.01em;
    color: #000;
    border: solid black 1px;
    box-shadow: 4px 6px 4px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    left: 80px;
    top: 230px;
    padding-left: 50px;
    padding-top: 25px;
    z-index: 1;
}
.revtwo {
    border: 1px solid #000;
    width: 352px;
    height: 270px;
    position: absolute;
    box-shadow: 4px 6px 4px 0 rgba(0, 0, 0, 0.25);
    background: #010101;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 179%;
    letter-spacing: -0.01em;
    color: #fff;
    padding-left: 35px;
    padding-top: 25px;
    right: 145px;
    bottom: 125px;
}
.revthree {
    position: absolute;
    border: 1px solid #000;
    width: 415px;
    height: 158px;
    box-shadow: 4px 6px 4px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 179%;
    letter-spacing: -0.01em;
    color: #000;
    padding-left: 30px;
    padding-top: 20px;
    right: 0px;
    top: 100px;
    }
    .lastdiv {
        width: 1440px;
        height: 638px;
        position: relative;
        background: url(../images/app1.png) left top repeat;
        padding-left: 175px;
        padding-right: 175px;
        padding-top: 80px;
        border-top: solid black 1px;
        display: flex;
        justify-content: space-between;
    }
    .chance {
        border-radius: 20px;
        width: 440px;
        height: 478px;
        box-shadow: 4px 6px 4px 0 rgba(0, 0, 0, 0.25);
        background: #fff;
        text-align: center;
        padding-top: 50px;
    }
    .chance h4 {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 24px;
        line-height: 125%;
        letter-spacing: -0.01em;
        text-align: center;
        color: #000;
        padding-bottom: 7px;
    }
    .chance span:first-of-type {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: -0.01em;
        text-align: center;
        color: #000;
        padding-bottom: 7px;
    }
    .inp {
        border: 1.50px solid #c4c4c4;
        border-radius: 10px;
        width: 314px;
        height: 50px;
        background: #fff;
        margin-bottom: 30px;
    }
    .zapis {
        border-radius: 10px;
        width: 314px;
        height: 49px;
        background: #dc051f;
        font-family: Montserrat;
        font-weight: 500;
        font-size: 18px;
        line-height: 194%;
        letter-spacing: -0.01em;
        text-align: center;
        color: #fff;
        border: none;
        margin-bottom: 30px;
    }
    .lastdiv .chance p {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 10px;
        line-height: 200%;
        letter-spacing: -0.01em;
        text-align: center;
        color: #000;
    }
    .dreamcat {
        width: 528px;
        height: 488px;
        padding-top: 80px;
        background: url(../images/Union.png) left top no-repeat;
    }
   .dream {
    position: absolute;
    right: 173px;
    bottom: 80px;
   }
   .lastdiv .dreamcat p {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 214%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #000;
    padding-right: 180px;
   }
   .footer {
    height: 119px;
    background: #494949;
    padding-top: 29px;
   }
   .footline {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
   }
.footline li {
    display: inline;
    padding-right: 47px;
}
.footer hr {
    width: 1440px;
    color: #c4c4c4;
    height: 1px;
}
.footpin {
    background: #c4c4c4;
    border-radius: 100%;
    width: 33px;
    height: 33px;
    text-align: center;
    padding-top: 9px;
    margin-right: 15px;
}
.fa-solid {
    font-size: 20px;
    color: dimgrey;
}
.footphone {
    background: #c4c4c4;
    border-radius: 100%;
    width: 33px;
    height: 33px;
    text-align: center;
    padding-top: 9px;
    margin-right: 15px;
}
.footline li:nth-of-type(2){
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.01em;
    color: #fff;
    padding-left: 15px;
}

.footline li:nth-of-type(3){
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #fff;
    padding-left: 15px;
    }
    .footlogo {
        margin-right: 200px;
    }
    .tradem {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 12px;
        line-height: 292%;
        letter-spacing: -0.01em;
        text-align: center;
        color: #c4c4c4;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25px;
    }
}