*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1440px;
    margin: 0 auto;
}
.main {
    position: relative;
    height: 700px;
}
.main p {
    height: 42px;
    width: 1440px;
    text-align: center;
    background: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main span:first-of-type {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #000;
}
.main span:nth-of-type(2) {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #000;
}
.main div:first-child {
    display: flex;
}
.main ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line li {
    display: inline;
    padding-right: 47px;

}
.logo {
    width: 277px;
    height: 61px;
}
.pin {
    width: 33px;
}
.main ul li:nth-of-type(2){
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.01em;
    color: #000;
    padding-left: 15px;
}
.phone {
    width: 29px;
}
.main ul li:nth-of-type(3){
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #000;
    padding-left: 15px;
    }
.main button:first-of-type {
    border: 2px solid #dc051f;
    border-radius: 20px;
    width: 256px;
    height: 37px;
    background: #fff;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #000;
}
.haslo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    padding-left: 175px;
    padding-top: 57px;
}
.haslo h3:first-of-type {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 24px;
    line-height: 146%;
    letter-spacing: -0.01em;
    color: #000;
    padding-bottom: 34px;
}
.haslo h1 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 50px;
    line-height: 140%;
    letter-spacing: -0.01em;
    color: #000;
    padding-bottom: 34px;
}
.haslo h3:last-of-type {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #dc051f;
    padding-bottom: 34px;
}
.main .haslo button {
    border-radius: 10px;
    width: 413px;
    height: 58px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #dc051f;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 20px;
    line-height: 175%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #fff;
}
.slide {
    position: absolute;
    width: 434px;
    height: 434px;
    right: 305px;
    top: 52px;
}
.sad{
    position: absolute;
    right: 200px;
    bottom: -135px;
    z-index: 1;
}
.lucky {
    position: absolute;
    bottom: -135px;
    left: 1272px;
    z-index: 1;
}
.whatit {
    background: #ffe9b7;
    height: 680px;
    padding-left: 175px;
    position: relative;
}
.whatit h3 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 36px;
    line-height: 97%;
    letter-spacing: -0.01em;
    color: #000;
    height: 35px;
    padding-top: 71px;
    text-align: start;
    padding-bottom: 56px;
}
.whatit h4 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
    line-height: 146%;
    letter-spacing: -0.01em;
    color: #000;
    padding-bottom: 40px;
    }
.dela {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: -0.01em;
    color: #000;
}
.cat {
    position: absolute;
}
.speech {
    position: absolute;
    left: 400px;
    bottom: 210px;
}
.words {
    position: absolute;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    line-height: 179%;
    letter-spacing: -0.01em;
    color: #000;
    left: 446px;
    bottom: 262px;
    }
    .describe {
        position: absolute;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 25% 25% 25%;
        width: 439px;
        height: 451px;
        right: 245px;
        bottom: 85px;
        align-items: center;
        justify-items: center;
        text-align: center;
    }
    .describe img {
        margin: 12px 12px;
    }
    .descr {
        text-align: center;
        background: url(../images/backround.svg) no-repeat top center;
        border-radius: 100%;
        width: 90px;
        height: 90px;
    }
    .whatit .describe .pod {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 24px;
        line-height: 167%;
        letter-spacing: -0.01em;
        text-align: center;
        color: #000;
    }
    .whatit .describe .poddva {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 14px;
        line-height: 179%;
        letter-spacing: -0.01em;
        text-align: center;
        color: #000;
    }
    .promo {
        padding-left: 175px;
        position: relative;
    }
    .promo h3 {
        font-family: Montserrat;
        font-weight: 600;
        font-size: 36px;
        line-height: 97%;
        letter-spacing: -0.01em;
        color: #000;
        height: 35px;
        padding-top: 71px;
        text-align: start;
        padding-bottom: 56px;
    }
    .promo button {
        position: absolute;
        width: 234px;
        height: 40px;
        font-family: Montserrat;
        font-weight: 600;
        font-size: 16px;
        line-height: 219%;
        letter-spacing: -0.01em;
        text-align: center;
        color: #000;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        border: none;
        background-color: #fff;
        left: 285px;
        top: 390px;
    }
    .promoimg {
        width: 1038px;
        height: 630px;
        display: grid;
        align-items: center;
        justify-items: start;
        grid-template-columns: 370px 375px 1fr;
        grid-template-rows: 50% 50%;
        grid-column-gap: 7px;
        grid-row-gap: 7px;
    }
    .banty {
        width: 366px;
        height: 298px;
    }
    .lepka {
        width: 371px;
        height: 298px;
    }
    .camer {
        width: 268px;
        height: 317px;
    }
    .sound {
        width: 254px;
        height: 318px;
    }
    .mamki {
        width: 767px;
        height: 317px;
    }
    .camerimg {
        grid-column: 3/4;
        padding-top: 19px;
    }
   .soundimg {
    grid-row: 2;
    grid-column: 1/4;
   }
   .visit {
    height: 680px;
    padding-left: 175px;
    position: relative;
   }
   .visit h3 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 36px;
    line-height: 153%;
    letter-spacing: -0.01em;
    color: #000;
    height: 35px;
    padding-top: 71px;
    text-align: start;
    padding-bottom: 120px;
   }
   .visitflex {
    display: flex;
    justify-content: space-between;
    width: 1038px;
   }
   .opisan {
    width: 1038px;
    display: flex;
    justify-items: left;
    flex-direction: column;
   }
   .opisan img {
    float: left;
    padding-right: 20px;
   }
   .opisan span {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 20px;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: #000;
   }
   .opisan p {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 179%;
    letter-spacing: -0.01em;
    color: #000;
    padding-left: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    }
   .meethero {
    height: 671px;
    position: relative;
    background: url(../images/backimg.png) left top repeat;
    padding-left: 175px;
   }
   .pervy {
    position: absolute;
    right: -0px;
    top: -53px;
   }
   .vtoro {
    position: absolute;
    top: -53px;
    right: 162px;
   }
   .meethero h3 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 36px;
    line-height: 97%;
    letter-spacing: -0.01em;
    color: #000;
    height: 35px;
    padding-top: 71px;
    text-align: start;
    padding-bottom: 56px;
}
.meethero p {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: -0.01em;
    color: #000;
    padding-bottom: 40px;
}
.signup {
    position: absolute;
    text-align: center;
    right: 245px;
    bottom: 135px;
}
.signup span {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    line-height: 167%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #000;
}
.signup button {
    border-radius: 10px;
    width: 273px;
    height: 58px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #dc051f;
    border: none;
    color: #fff;
    margin-top: 10px;
}
   
   


