*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.footer .header {
    background-color: rgb(207, 226, 243); 
    height: 75px;
     border: solid black 2px;
}